html.light {
  /* font colors */
  --colors-t-primary: 23 24 34;
  --colors-t-secondary: 68 71 95;
  --colors-t-third: 114 118 143;
  --colors-t-disabled: 105 107 130;
  --colors-t-placeholder: 181 183 193;
  --colors-t-onColor: 255 255 255;
  --colors-t-consistent: 255 255 255;
  --colors-t-inverse: 11 12 18;
  --colors-t-error: 255 22 149;
  --colors-t-buy: 43 189 181;
  --colors-t-yellow: 126 154 255;
  --colors-t-sell: 255 90 181;
  --colors-t-link: 126 154 255;
  --colors-t-linkHover: 152 161 248;
  --colors-t-white: 255 255 255;
  --colors-t-emphasize: 255 211 126;
  /* border */
  --colors-border-line: 216 218 227;
  --colors-border-lineSubtle: 235 235 239;
  --colors-border-lineStrong: 199 201 208;
  /* background */
  --colors-background-bg1: 253 253 253;
  --colors-background-bg2: 255 255 255;
  --colors-background-bg1Accent01: 243 243 247;
  --colors-background-bg1Accent02: 243 243 247;

  /* interactive */
  --colors-interactive-disabled: 223 223 224;
  --colors-interactive-primary: 106 94 248;
  --colors-interactive-primaryHover: 115 128 247;
  --colors-interactive-primaryActive: 143 148 255;
  --colors-interactive-primaryGradient: linear-gradient(93.96deg, #e05fbb 0.76%, #4250f4 100.57%);
  --colors-interactive-primaryAccent01: 76 80 122;
  --colors-interactive-primaryAccent02: 49 53 83;
  --colors-interactive-buy: 29 177 168;
  --colors-interactive-buyHover: 60 198 190;
  --colors-interactive-buyActive: 94 206 194;
  --colors-interactive-buyGradient: linear-gradient(90deg, #1DB1A8 0%, #09978F 100%);
  --colors-interactive-buyAccent01: 46 65 69;
  --colors-interactive-sell: 239 62 158;
  --colors-interactive-sellHover: 253 92 183;
  --colors-interactive-sellActive: 244 110 185;
  --colors-interactive-sellGradient: linear-gradient(90deg, #EF3E9E 0%, #D12683 100%);
  --colors-interactive-sellAccent01: 74 42 60;
  --colors-interactive-interactiveBg: 253 253 253;
  --colors-interactive-interactiveBgHover: 242 242 246;
  --colors-interactive-interactiveBgActive: 242 242 246;
  --colors-interactive-interactiveBgSelected: 242 242 246;
  --colors-interactive-interactive01: 235 235 239;
  --colors-interactive-interactive01Hover: 229 229 233;
  --colors-interactive-interactive01Active: 229 229 233;
  --colors-interactive-interactive01Selected: 229 229 233;
  --colors-interactive-interactive02: 215 215 223;
  --colors-interactive-interactive02Hover: 205 205 213;
  --colors-interactive-interactive02Active: 205 205 213;
  --colors-interactive-interactive02Selected: 205 205 213;
  --colors-interactive-interactivePopup: 255 255 255;
  /* support */
  --colors-support-success: 29 177 168;
  --colors-support-error: 255 22 149;
  --colors-support-warning: 255 193 34;
  --colors-support-info: 24 31 51;
  /* others */
  --colors-highLight: 249 176 34;
  --colors-overlay: rgba(0, 0, 0, 0.5);
}

:root,
html.dark {
  /* font colors */
  --colors-t-primary: 240 240 245;
  --colors-t-secondary: 178 180 198;
  --colors-t-third: 114 118 143;
  --colors-t-disabled: 105 107 130;
  --colors-t-placeholder: 68 71 95;
  --colors-t-onColor: 255 255 255;
  --colors-t-consistent: 255 255 255;
  --colors-t-inverse: 11 12 18;
  --colors-t-error: 255 22 149;
  --colors-t-buy: 43 189 181;
  --colors-t-yellow: 126 154 255;
  --colors-t-sell: 255 90 181;
  --colors-t-link: 126 154 255;
  --colors-t-linkHover: 152 161 248;
  --colors-t-white: 255 255 255;
  --colors-t-emphasize: 255 211 126;
  /* border */
  --colors-border-line: 59 61 89;
  --colors-border-lineSubtle: 48 50 74;
  --colors-border-lineStrong: 69 71 103;
  /* background */
  --colors-background-bg1: 23 24 34;
  --colors-background-bg2: 11 12 18;
  --colors-background-bg1Accent01: 36 37 52;
  --colors-background-bg1Accent02: 42 44 60;
  /* interactive */
  --colors-interactive-disabled: 63 65 93;
  --colors-interactive-primary: 88 76 234;
  --colors-interactive-primaryHover: 107 120 238;
  --colors-interactive-primaryActive: 131 136 245;
  --colors-interactive-primaryGradient: linear-gradient(90deg, #e05fbb 0%, #4250f4 100%);
  --colors-interactive-primaryAccent01: 76 80 122;
  --colors-interactive-primaryAccent02: 49 53 83;
  --colors-interactive-buy: 29 177 168;
  --colors-interactive-buyHover: 60 198 190;
  --colors-interactive-buyActive: 94 206 194;
  --colors-interactive-buyGradient: linear-gradient(90deg, #1DB1A8 0%, #09978F 100%);
  --colors-interactive-buyAccent01: 46 65 69;
  --colors-interactive-sell: 239 62 158;
  --colors-interactive-sellHover: 253 92 183;
  --colors-interactive-sellActive: 244 110 185;
  --colors-interactive-sellGradient: linear-gradient(90deg, #ef3e9e 0%, #d12683 100%);
  --colors-interactive-sellAccent01: 74 42 60;
  --colors-interactive-interactiveBg: 30 31 49;
  --colors-interactive-interactiveBgHover: 38 39 61;
  --colors-interactive-interactiveBgActive: 54 54 85;
  --colors-interactive-interactiveBgSelected: 46 47 73;
  --colors-interactive-interactive01: 44 45 67;
  --colors-interactive-interactive01Hover: 55 56 82;
  --colors-interactive-interactive01Active: 77 79 110;
  --colors-interactive-interactive01Selected: 66 67 97;
  --colors-interactive-interactive02: 59 61 89;
  --colors-interactive-interactive02Hover: 71 73 107;
  --colors-interactive-interactive02Active: 98 101 141;
  --colors-interactive-interactive02Selected: 85 87 124;
  --colors-interactive-interactivePopup: 90 92 116;
  /* support */
  --colors-support-success: 29 177 168;
  --colors-support-error: 255 22 149;
  --colors-support-warning: 248 199 72;
  --colors-support-info: 24 31 51;
  /* others */
  --colors-highLight: 255 211 126;
  --colors-overlay: rgba(0, 0, 0, 0.5);
}

:root {
  --font-site-main: Arial;
}

/* customize scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--colors-border-line);
  border-radius: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* customize widget style */
.button {}

.sheet-content {}

.input-text-field,
.input-base-input {}

.dialog-content {}

/* @astrolabs/broker-widget theme class */

.order-form-card {}

.radio-option {}

.currency-input {}

.direction-switch-long {}

.direction-switch-short {}
